/* ----------- Global Style --------------- */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191716;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
h1 {
    margin-bottom: 0; 
}

/* ----------- Site Title --------------- */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 353px;
  height: 103px;
  left: 76px;
  top: 160px;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 61px;
  text-transform: capitalize;

  color: #000000;
}
.description {
position: absolute;
width: 274px;
height: 45px;
left: 90px;
top: 270px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;
margin: 0;
}

/* ----------- Info Box --------------- */
.infoBox{
    position: absolute;
    width: 475px;
    height: 110px;
    left: 88px;
    top: 300px;
    
    background: #00D1B2;
    border-radius: 5px;
}
.briefInfo{
    position: absolute;
    width: 458.38px;
    height: 47.67px;
    left: 10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}
.infoButton {
    position: absolute;
    width: 138px;
    height: 23.83px;
    left: 15px;
    top: 75px;
    
    background: #EAEAEA;
    border: 1px solid #000000;
    border-radius: 3px;
}
/* ----------- Label Style --------------- */
.sortByLabel {
  font-size: 25px;
  margin-top: 10px;
  
}
/* -------- Sort Button Container Style --------------- */
.sortButtonContainer {
  display: flex;
  justify-content: space-evenly;
}
/* -------- Sort Button Style --------------- */
.sortButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-bottom: 10px;
}
.sortButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.sortButton:active {
	position:relative;
	top:1px;
}
/* ----------- Table Style --------------- */
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}
.headerRow {
  background-color: #D9D9D9;
  font-style: oblique;
  font-weight: bold;
}
