/* ----------- Global Style --------------- */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191716;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
h1 {
    color: red;
    font-size: 50px;

}
/* ----------- Label Style --------------- */
.centeredLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sortByLabel {
  font-size: 25px;
  
}
/* -------- Sort Button Container Style --------------- */
.sortButtonContainer {
  display: flex;
  justify-content: space-evenly;
}
/* -------- Sort Button Style --------------- */
.sortButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  margin-bottom: 10px;
}
.sortButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.sortButton:active {
	position:relative;
	top:1px;
}
/* ----------- Table Style --------------- */
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}
.headerRow {
  background-color: #D9D9D9;
}
